.genresList {
    border-radius: 10px;
    width: 200px;
    background-color: white;
    margin: 20px 0 0 50px;
    max-height: 535px;
    padding: 20px 20px 0 20px;
}

.genresList div {
    margin-bottom: 5px;
    color: #CCCCCC;
    font-weight: bold;
    padding: 2px 4px;
}

.genresList div:hover {
    background-color: #CCCCCC;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


/* ------------------------- @media ------------------------- */

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .genresList {
        width: 80%;
        margin: 30px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .genresList div {
        color: #CCCCCC;
        font-weight: bold;
        margin: 5px;
        padding: 2px 4px;
    }
}

@media screen and (min-width: 0) and (max-width: 576px) {

    .genresList {
        width: 80%;
        margin: 30px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .genresList div {
        color: #CCCCCC;
        font-weight: bold;
        margin: 5px;
        padding: 2px 4px;
    }
}
