.InfoPoster {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cardAndTable {
    padding: 0 150px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

/* ------------------ Style for chosen movie card ------------------ */
.card {
    width: 250px;
    margin: 5px 10px;
}

.starsDiv .star-ratings .star-container {
    /* Size from father div */
    /*width: 8%;*/
}

.card .starsDiv .star-ratings {
    display: flex !important; /* broken father style*/
    justify-content: center;
}

/* ------------------------------------------------------ */

/* ------------------ Style for info about movie ------------------ */
.overview {
    padding: 50px 80px 0;
    margin-bottom: 30px;
    font-size: 25px;
}

/* ------------------------------------------------------ */


/* ------------------------- @media ------------------------- */

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .cardAndTable {
        padding: 0 100px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .cardAndTable {
        padding: 0 50px;
    }
}

@media screen and (min-width: 0) and (max-width: 576px) {

    .cardAndTable {
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }

    .overview {
        font-size: 20px;
    }
}