.main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.searchOrMainMovie {
    box-sizing: border-box;
    width: 1300px;
}

/* ------------------------- @media ------------------------- */


@media screen and (min-width: 576px) and (max-width: 992px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .searchOrMainMovie {
        width: 100%;
    }
}

@media screen and (min-width: 0) and (max-width: 576px) {

    .main {
        flex-direction: column;
        align-items: center;
    }

    .searchOrMainMovie {
        width: 100%;
    }
}