.light {
    background-color: #CCCCCC;
    color: #1F1F1F;
    min-height: 100vh;
}

.dark {
    background-color: #222D33;
    color: #CCCCCC;
    min-height: 100vh;
}

/* -------------------- Header for dark theme -------------------- */
.dark .header {
    background-color: #575757;
}

.dark .header .pages a {
    color: #1F1F1F;
}

.dark .header .pages a:hover {
    transition: background-color 0.5s ease-out;
    background-color: black;
    color: #1b9aaa;
}

/* ----------------------------------------------------------------- */

/* -------------------- Genre list for dark theme -------------------- */
.dark .genresList {
    background-color: #1b9aaa;
}

.dark .genresList div {
    color: white;
}

.dark .genresList div:hover {
    background-color: #105058;
    border-radius: 4px;
    cursor: pointer;
}

/* ----------------------------------------------------------------- */

/* -------------------- Movie list for dark theme -------------------- */
.dark .moviesListCard {
    background-color: #1b9aaa;
}

.dark .moviesListCard .title {
    color: white;
}

.dark .moviesListCard:hover {
    border: none; /* Off default border */
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5); /* Add Box Shadow */
    cursor: pointer;
}

.dark .resultFoundMovie {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

/* ----------------------------------------------------------------- */
